<include file="public:header" title="搜索" sousuo='{$label}'/>
	<div class='cont'>
		<div class='mail'>
			<ul class='mail-c clearfix' id='main'></ul>
		</div>
	</div>
<include file="public:footer.html"/>
</html>
<script type="text/javascript">
$(function(){
	jQuery(".banner").slide({mainCell:".banner_lb",effect:"leftLoop",autoPlay:true,delayTime:700});
	var num = 0;
	imgloads();
	
	$(window).on('scroll',function(){
		var scrollTop = $(this).scrollTop();
		var scrollHeight = $(document).height();
		var windowHeight = $(this).height();
		
		if (scrollTop + windowHeight == scrollHeight) {
		// 此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
			imgloads();
		}
		
	});
	var pd = 1;
	function imgloads(){
		var str = '';
		
		var id = $.cookie('id') == undefined?0:$.cookie('id');
		//console.log(id);
		$.ajax({
			url:'{:U("Home/Index/sousuopbl")}',
			data:{num:num,id:id,label:"{$label}"},
			type:'post',
			success:function(msg){
				if(msg == '' & pd == 1){
					$('#main').append('<span>没有属于该标签的作品，清换个标签搜索吧~<span>');
				}else{
				
					pd = 0;
					//ajax请求的数据
					for( var i=0; i<msg.length; i++){
						var cls = '';
						if(msg[i].likess == 1){
							cls = 'on';
						}
						str += '<li class="box"><a href="{:U("Home/painter/details")}&authorid=' + msg[i].author + '&imgid=' + msg[i].id + '"><img src="__PUBLIC__/' + msg[i].thum + '" alt="' + msg[i].title + '"></a><div><h5><a href="{:U("Home/painter/personal")}&authorid=' + msg[i].author + '"><img src="__PUBLIC__/' + msg[i].tx + '" alt="头像"></a><a href="{:U("Home/painter/personal")}&authorid=' + msg[i].author + '">' + msg[i].zz + '</a></h5><div class="x-info"><p>' + msg[i].lab + '</p><p><b data="' + msg[i].id + '" class="lik ' + cls + '" ></b><span>' + msg[i].liklen + '</span></p></div></div></li>'
					}
					$('#main').append(str);
					$('.box>a>img').load(function(){
						pul();
					});
					num += 8;
				}
			},
			error:function(err){
				console.log(err);
			}
		});
	}
	
	function pul(){
	    var boxli = $('.box').length;
	    var heightArr = [];
	    for(var i=0; i<boxli; i++){
	    	var num = 0;
	    	num = i;
	        var boxHeight = $('.box').eq(i).outerHeight();
	        if(i<4){
	            heightArr.push(boxHeight);
	        }else{
	            var minBoxHeight = Math.min.apply(this,heightArr);
	            //求出最矮盒子对应的索引
	            var maxBoxHeight = Math.max.apply(this,heightArr);
	            //求出最高盒子对应的索引
	            var minBoxIndex = getMinBoxIndex(minBoxHeight,heightArr);
	            //盒子瀑布流定位  顶部间距就是最矮盒子的高度
	            $('.box').eq(i).css({'position':'absolute','top':minBoxHeight + 20 + 'px','left':minBoxIndex * 280 + minBoxIndex * 20 + 'px'});
	            //关键:更新数组最矮高度,使下一个图片在高度数组中总是找最矮高度的图片下面拼接
	            heightArr[minBoxIndex] += boxHeight + 20;
	            
	        }
	    }
	    $('#main').height(maxBoxHeight + 50);
	    
	}

	//求出最矮盒子对应的索引函数
	function getMinBoxIndex(val,arr) {
	    for(var i in arr)
	    {
	        if(val == arr[i])
	        {
	            return i;
	        }
	    }
	}
	
	$('html').on('click','.lik',function(e){
		if($.cookie('id') == undefined){
			alert('请您先登录');
			window.location.href="{:U('Home/User/index')}";
		}else{
			var b = $(this)
			var id = $(this).attr('data');
			var userid = $.cookie('id') == undefined?0:$.cookie('id');
			$.post('{:U("Home/Painter/lik")}',{imgid:id,userid:userid},function(msg){
				console.log(msg);
				
				if(msg == 0){
					b.removeClass('on');
				}else if(msg == 1){
					b.addClass('on');
				}
			});
		}
	});
})
</script>