<include file="public:header" title="作品详情页"/>
<link rel="stylesheet" href="__PUBLIC__/bluesnail/style/snail-personal.css">
<link rel="stylesheet" href="__PUBLIC__/bluesnail/style/snail-details.css">
	<div class='cont'>
		<div class='card'>
			<img src="__PUBLIC__/{$users.thum}" alt="">
			<div class='card-info'>
				<p>昵称：{$users.name}<span>我的ID：{$users.id}</span></p>
				<p>地点：{$users.add} <span>性别：{$users.sex}</span></p>
				<div class='honor clearfix'>
					荣誉：
					<p>{$users.honor1}</p>
					<p>{$users.honor2}</p>
					<p>{$users.honor3}</p>
				</div>
				<p>个性标签：<span>{$users.sflab}</span><span>{$users.oldlab}</span>
					<foreach name='users.gxlab' item='va'>
					<span>{$va}</span>
					</foreach>
				</p>
				<div class='cin clearfix'>
					联系方式：<p><span>QQ：{$users.qq}</span><nobr>微信：{$users.weixin}</nobr><br><span>微博：@{$users.weibo}</span><nobr>邮箱：{$users.email}</nobr></p>
				</div>
				
			</div>
			<?php
			if($_COOKIE["username"] == $users["name"] && $users["id"] == $_COOKIE["id"]){
			?>
			<div class='setup'><a href="javascript:void">设置个人名片</a></div>
			<?php 
			}
			?>
		</div>
		<h2>{$users.name}</h2>
		<div class='con-nav'><a href='javascript:void(0)' class='act'>名片</a>|
		<?php if($users['id'] == $_COOKIE['id']){?>
		<a href='javascript:void(0)' >关注</a></div>
		<?php }else{ ?>
		<a href='javascript:void(0)' class='follows' data='{$users.id}'>{$follows}</a></div>
		<?php } ?>
		<div class='ff'></div>
		<div class='mail'>
			<div class='m-01'>
				<div id='operation'>
				<?php 
				if($users["id"] == $_COOKIE["id"]){
				?>
					<ul class='own'>
						<li><a href="javascript:void(0)" >编辑</a></li>
						<li><a href="javascript:void(0)" >删除</a></li>
						<li><a href="javascript:void(0)" >分享</a></li>
					</ul>
				<?php 
				}else{
				?>
					<ul class='other'>
						<li><a href="javascript:void(0)">举报</a></li>
						<li><a href="javascript:void(0)"><b class='lik' class='{$ons}'></b></a></li>
						<li><a href="javascript:void(0)">分享</a></li>
						<li><a href="javascript:void(0)" class='tuijian'>推荐</a></li>
					</ul>
				<?php 
				}
				?>
				</div>
				<if condition="$imgs.type eq 'text'" >
				<div id='works' class='bd'>
					<ul class='clearfix'>
						<li><img src="__PUBLIC__/{$imgs.thum}" alt="作品"></li>
					</ul>
				</div>
				<div class='m1-01 m1-01-text'>
					<h5>{$imgs.title}</h5>
					<div class='m11-con'>{$imgs.content}</div>
					<div class='m11-bq'>
						<img src="__PUBLIC__/{$imgs.rthum}" alt="{$imgs.right}" title = "{$imgs.right}" > <b title="{$imgs.rinfo}"></b>
						<p>{$imgs.lab}</p>
					</div>
					<div></div>
				</div>
				<elseif condition="$imgs.type eq 'img'"/>
				<div id='works' class='bd'>
					<ul class='clearfix'>
						<foreach name='imgs.img' item='vi'>
							<li><img src="__PUBLIC__/{$vi}" alt="作品"></li>
						</foreach>
					</ul>
					<span class='b-prev prev'></span>
					<span class='b-next next'></span>
				</div>
				<div class='m1-01'>
					<h5>{$imgs.title}</h5>
					<div class='m11-con'>{$imgs.content}</div>
					<div class='m11-bq'>
						<img src="__PUBLIC__/{$imgs.rthum}" alt="{$imgs.right}" title = "{$imgs.right}" > <b title="{$imgs.rinfo}"></b>
						<p>{$imgs.lab}</p>
					</div>
					<div></div>
				</div>
				</if>
			</div>
			<div class='addsnail'><a href="###">加入蓝色蜗牛，与TA一起来互动</a></div>
			<div class='m-cont'>
				<div class='m-02'>
					<h4>其他作品</h4>
					<div id='qt-works'>
						<div class='bd'>
							<ul class='clearfix'>
								<foreach name='xgimg' item='vt'>
								<li><a href="{:U('Home/painter/details')}&authorid={$vt.author}&imgid={$vt.id}"><img src="__PUBLIC__/{$vt.thum}" alt="作品"></a></li>
								</foreach>
							</ul>
						</div>
						<span class='x-prev prev'></span>
						<span class='x-next next'></span>
					</div>
				</div>
				<div class='m-03 clearfix'>
					<div>
						<h4 id='len'>全部评论</h4>
						<ul id='comment'></ul>
						
						<div class='pl'>点击查看更多评论</div>
						
					</div>
					<form action="javascript:void(0)" method='post' class='clearfix'>
						<textarea name="content" id="content" cols="30" rows="10" placeholder="你想说点什么..."></textarea>
						<button id='comb'>评&nbsp;论</button>
					</form>
				</div>
			</div>
		</div>
	</div>
<include file="public:userinfo"/>
<include file="public:footer"/>
</html>
<script>
	$(function(){
		jQuery(".m-01").slide({mainCell:".bd ul",effect:"left",trigger:"click",delayTime:1000});
		jQuery(".m-02").slide({mainCell:".bd ul",autoPage:true,effect:"left",vis:3,trigger:"click"});
		for(var i=0; i<$('#works li img').length; i++){
			var w = $('#works li img').eq(i).width();
			var h = $('#works li img').eq(i).height();
			if(w > h){
				$('#works li img').eq(i).css('width','780px');
			}else{
				$('#works li img').eq(i).css('height','648px');
			}
		}
		
		// 名片控制
		$('.card').hide();
		$(".act").toggle(
			function(){
				$(window).scrollTop(0);
				//$('.card').show().animate({'margin-top':'0px','top':'0px'},5000,'linear');
				$('.card').slideDown();
				
			},
			function(){
				//$('.card').animate({'top':'-500px','margin-top':'-324px'},500,function(){$('.card').hide();});
				$('.card').slideUp();
			}
		);
		$('.setup').on('click',function(){$('#editinfo').show();$('#einfo').show();});
		$('#editinfo').on('click',function(){$('#editinfo').hide();$('#einfo').hide();});
		
		// 名片弹出

		var lens = $('#qt-works ul li').length;
		$('#qt-works ul').css('width',lens * 230 + 'px');
		
		var num = 0;
		var len = 0;
		var user = 1;
		//reply();
		
		$('.pl').on('click',function(){
			reply();
		});;
		
		reply();
		//ajax获取评论
		function reply(){
			$.ajax({
				url:'{:U("Home/Painter/commentlise")}',
				type:'post',
				data:{id:{$id},num:num},
				success:function(msg){
					//console.log(msg[0]);
					if(msg == '' & user == 0){
						alert('没有跟多了亲~');
					}else{
						user = 0;
						var str = '';
						for(var i=0; i<msg.length; i++){
						
							str += '<li class="clearfix"><div class="c-title"><a href="{:U("Home/painter/personal")}&authorid=' + msg[i]["author_id"] + '"><img src="__PUBLIC__/' + msg[i]["author_thum"] + '" alt="' + msg[i]["author"] + '"><h6>' + msg[i]["author"] + '</h6></a><span>' + msg[i]["create"] + '</span></div><div class="content clearfix"><div class="comment">' + msg[i]["content"] + '</div><span title="回复" data="' + msg[i]["author_id"] + '" data_name="' + msg[i]["author"] + '" reply_type="1" z_id="' + msg[i]["id"] + '" class="replys">...</span></div>';

							if(msg[i]["reply"] != undefined){
								for(var j=0; j<msg[i]["reply"].length; j++){
								
									if(msg[i]["reply"][j]["reply_type"] == 1){
										str += '<div class="hf clearfix"><h6><a href="{:U("Home/painter/personal")}&authorid=' + msg[i]["reply"][j]["author_id"] + '">' + msg[i]["reply"][j]["author"] + '</a><span class="times">' + msg[i]["reply"][j]["create"] + '{$vs.create}</span></h6><div>' + msg[i]["reply"][j]["content"] + '</div><span title="回复" data="' + msg[i]["reply"][j]["author_id"] + '" data_name="' + msg[i]["reply"][j]["author"] + '" reply_type="2" p_id="' + msg[i]["id"] + '" z_id="' + msg[i]["reply"][j]["id"] + '" class="replys">...</span></div>';
									}else if(msg[i]["reply"][j]["reply_type"] == 2){
										str += '<div class="hf clearfix"><h6><a href="{:U("Home/painter/personal")}&authorid=' + msg[i]["reply"][j]["author_id"] + '">' + msg[i]["reply"][j]["author"] + '</a><span>回复</span><a href="{:U("Home/painter/personal")}&authorid=' + msg[i]["reply"][j]["to_uid"] + '">' + msg[i]["reply"][j]["reply_name"] + '</a><span class="times">' + msg[i]["reply"][j]["create"] + '</span></h6><div>' + msg[i]["reply"][j]["content"] + '</div><span title="回复" data="' + msg[i]["reply"][j]["author_id"] + '" data_name="' + msg[i]["reply"][j]["author"] + '" reply_type="2" p_id="' + msg[i]["id"] + '" z_id="' + msg[i]["reply"][j]["id"] + '" class="replys">...</span></div>';
									}
								}
							}
							str += '</li>';
						}
						//$('#comment').empty();
						$('#comment').append(str);
						//$('#len').text(len);
						num = num + 10;
						if($('#comment li').length<1){
							$('.pl').css('display','none');
							$('#len').html('<span>暂无评论</span>');
						}else if($('#comment li').length<10){
							$('.pl').css('display','none');
							$('#len').text('全部评论');
						}else{
							$('.pl').css('display','block');
							$('#len').text('全部评论');
						}
					}
				},
				error:function(err){
					console.log(err);
				}
			});
		};
		
		$('#comb').on('click',function(){
			var name = $.cookie('username');
			var userid = $.cookie('id');
			if(name == undefined & userid == undefined){
				alert('请您先登录');
				window.location.href='{:U("Home/User/index")}'
				
			}else{
				
				var val = $('#content').val();
				var count = val.length;
				
				if(val == ''){
					alert('内容不能为空');
					
				}else if(count > 200){
					alert('您输入的内容超过了200字数限制');
				}else{
					$.post('{:U("Home/Painter/comment")}',{value:val,imgid:{$id},author:{$author},userid:userid},function(msg){
						
						if(msg == 1){
							alert('评论成功');
							window.location.reload();
						}else{
							alert('评论失败');
						}
					});
				}
			}
		});
		
		$('#comment').on('click','.replys',function(){
			var name = $.cookie('username');
			var authorid = $.cookie('id');
			if(name == undefined & authorid == undefined){
				alert('请您先登录');
				window.location.href='{:U("Home/User/index")}'
				
			}else{
				$('#rep').remove();
				to_name = $(this).attr('data_name');
				to_uid = $(this).attr('data');
				z_id = $(this).attr('z_id');
				p_id = typeof($(this).attr('p_id')) == 'undefined' ? $(this).attr('z_id') : $(this).attr('p_id');
				name = $.cookie('username');
				userid = $.cookie('id');
				reply_type = $(this).attr('reply_type');
				comment_id = p_id;
				reply_id = z_id;
				
				$(this).parent().append('<p id="rep"><input type="text" placeholder="回复&nbsp;&nbsp;' + to_name + '：" /><button id="rebtn">发表</button></p>');
			}
		});
		
		
		$('#comment').on('click','#rebtn',function(){
			var val = $('#rep input').val();
			var count = $('#rep input').val().length;
			if(val == ''){
				//alert('内容不能为空');
			}else if(count > 200){
				//alert('您输入的内容超过了200字数限制');
			}else{
				$.post('{:U("Home/Painter/reply")}',{value:val,comment_id:comment_id,reply_id:reply_id,to_uid:to_uid,userid:userid,reply_type:reply_type},function(msg){ 
					console.log(msg); 
					if(msg == 1){ 
					alert('评论成功'); 
					window.location.reload(); 
					}else{ 
						alert('评论失败'); 
					} 
				}); 
			}
		});
		
		
		$('html').on('click','.tuijian',function(){
			//console.log();
			if($.cookie('id') == undefined){
				alert('请您先登录');
				window.location.href="{:U('Home/User/index')}";
			}else{
				
				var id = $(this).attr('data');
				var userid = $.cookie('id') == undefined?0:$.cookie('id');
				$.post('{:U("Home/Painter/tuijian")}',{imgid:{$imgs.id},userid:userid,author:{$author}},function(msg){
					//console.log(msg);
					if(msg == 0){
						alert('亲，您已经推荐过了');
					}else if(msg == 1){
						alert('亲，推荐成功');
					}else if(msg == 2){
						alert('亲，推荐失败，您刷新下试试吧');
					}
				});
			}
		});
		
		$('html').on('click','.lik',function(){
			if($.cookie('id') == undefined){
				alert('请您先登录');
				window.location.href="{:U('Home/User/index')}";
			}else{
				
				var b = $(this);
				var userid = $.cookie('id') == undefined?0:$.cookie('id');
				$.post('{:U("Home/Painter/lik")}',{imgid:{$imgs.id},userid:userid,author:{$author}},function(msg){
					console.log(msg);
					if(msg == 0){
						b.removeClass('ons');
					}else if(msg == 1){
						b.addClass('ons');
					}
				});
			}
		});
		
		$('html').on('click','.follows',function(){
			if($.cookie('id') == undefined){
				alert('请您先登录');
				window.location.href="{:U('Home/User/Index')}";
			}else{
				var span = $(this);
				var userid = $(this).attr('data');
				var follow_id = $.cookie('id') == undefined?0:$.cookie('id');
				$.post('{:U("Home/Painter/followadd")}',{userid:userid,follow_id:follow_id},function(msg){
					console.log(msg);
					if(msg == 0){
						span.text('关注');
					}else if(msg == 1){
						span.text('已关注');
					}
				});
			}
		});
		
		$(".on").toggle(
			function(){
				$('.card').show().animate({'top':'0px','margin-top':'0px'},1200);
				$(window).scrollTop(0);
			},
			function(){
				$('.card').animate({'top':'-500px','margin-top':'-324px'},500,function(){$('.card').hide();});
			}
		);
		
		$('.setup').on('click',function(){$('#editinfo').show();$('#einfo').show();});
		$('#editinfo').on('click',function(){$('#editinfo').hide();$('#einfo').hide();});

		if({$mp} == 1){
			$('.card').show().css({'top':'0px','margin-top':'0px'});
		}
		
		$('html').on('click','.ybtx img',function(){
			var s = $(this).attr('src');
			$("#img0").attr("src", s);
			$('.tx button').css('display','block');
			$('#txtx').val(s);
			console.log($(this).attr('src'));
			
		});
		
		$('html').on('change','.tx input',function(){
			var objUrl = getObjectURL(this.files[0]) ;
			if (objUrl){
				$("#img0").attr("src", objUrl);
				$("#img0").removeClass("hide");
		    }
			$('.tx button').css('display','block');
			//console.log("objUrl = "+objUrl) ;
		});
		
		//获取上传图片的src
		function getObjectURL(file){
		    var url = null ;
		    if (window.createObjectURL!=undefined) 
		    { // basic
		      url = window.createObjectURL(file) ;
		    }
		    else if (window.URL!=undefined) 
		    {
		      // mozilla(firefox)
		      url = window.URL.createObjectURL(file) ;
		    } 
		    else if (window.webkitURL!=undefined) {
		      // webkit or chrome
		      url = window.webkitURL.createObjectURL(file) ;
		    }
		    return url ;
		}
		
	});
</script>