<include file="public:header" title="画师"/>
<link rel="stylesheet" href="__PUBLIC__/bluesnail/style/index-painter.css">
	<div class='banner clearfix'>
		<div class='banner_lb'>
		<foreach name="ban" item="vo">
			<img src="__PUBLIC__/{$vo.url}" alt="banner图">
		</foreach>
		</div>
		<div>
			<ul class='banner_btn hd clearfix'>
				<li class='on'></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<div class='cont'>
		<div class='con-nav'><a href='{:U("Home/index/index")}' class='on'>作品</a>|<a href='{:U("Home/painter/index")}'>达人</a></div>
		<div class='mail'>
			<ul class='mail-c clearfix' id='main'></ul>
		</div>
	</div>
<include file="public:footer"/>
</html>
<script type="text/javascript">
$(function(){

	jQuery(".banner").slide({mainCell:".banner_lb",effect:"leftLoop",autoPlay:true,delayTime:1000,interTime:5000});
	var num = 0;
	var p = 0;
	imgloads(),
	
	$(window).on('scroll',function(){
		var scrollTop = $(this).scrollTop();
		var scrollHeight = $(document).height();
		var windowHeight = $(this).height();
		console.log(scrollHeight);
		if (scrollTop + windowHeight == scrollHeight){
		// 此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
			setTimeout(imgloads,1000);
		}
	});
	
	function imgloads(){
		var str = '';
		var id = $.cookie('id') == undefined?0:$.cookie('id');
		$.ajax({
			url:'{:U("Home/painter/loads")}',
			data:{num:num,id:id},
			type:'post',
			success:function(msg){
				//console.log(msg);
				if(msg == '' & p == 0){
					alert('没有更多了亲~');
				}else{
					p = 1;
					//ajax请求的数据
					for( var i=0; i<msg.length; i++){
						
						var cls = '';
						if(msg[i].follows == 1){
							cls = 'on';
						}
						str += '<li><a href="{:U("Home/painter/personal")}&authorid=' + msg[i].id + '"><img src="__PUBLIC__/' + msg[i].thum + '" alt="头像"></a><h5><a href="{:U("Home/painter/personal")}&authorid=' + msg[i].id + '">' + msg[i].name + '</a></h5><div class="biaoqian">' + msg[i].lab + '</div><span class="follows ' + cls + '" data="' + msg[i].id + '" >关&nbsp;注</span><p class="clearfix">';
						
						if(msg[i].urls0 != null){
							str += '<a href="{:U("Home/painter/details")}&authorid=' + msg[i].id + '&imgid=' + msg[i].urls0.id + '"><img src="__PUBLIC__/' + msg[i].urls0.thum + '" alt="作品"></a>';
						}else{
							str += '<span>暂无作品</span>';
						}
						
						if(msg[i].urls1 != null){
							str += '<a href="{:U("Home/painter/details")}&authorid=' + msg[i].id + '&imgid=' + msg[i].urls1.id + '"><img src="__PUBLIC__/' + msg[i].urls1.thum + '" alt="作品"></a>';
						}else{
							str += '<span>暂无作品</span>';
						}
						
						str += '</p></li>';
					}
					$('#main').append(str);
					num += 8;
				}
			},
			error:function(err){
				console.log(err);
			}
		});
	}
	
	$('html').on('click','.follows',function(){
		if($.cookie('id') == undefined){
			alert('请您先登录');
			window.location.href="{:U('Home/User/Index')}";
		}else{
			var span = $(this);
			var userid = $(this).attr('data');
			var follow_id = $.cookie('id') == undefined?0:$.cookie('id');
			$.post('{:U("Home/Painter/followadd")}',{userid:userid,follow_id:follow_id},function(msg){
				console.log(msg);
				if(msg == 0){
					span.removeClass('on');
				}else if(msg == 1){
					span.addClass('on');
				}
			});
		}
	});
	
});
</script>