.cont{width:100%; padding-top:40px; background:#eee;}
.cont .mail{padding:0 250px; width:780px;}
.cont .mail h3{font-size:24px;}
.cont .mail>a{display:block; float:right; margin:112px; width:80px; height:35px; line-height:35px; color:#fff; text-align:center; background:#0066ff; border-radius:18px; font-size:14px; }
.cont .mail .m-cont01{margin-top:60px;}
.cont .mail .m-cont01 ul h5{font-size:14px; color:#000;}
.cont .mail .m-cont01 h5 span{font-size:12px; color:#948f8f;}
.cont .mail .m-cont01 ul li{font-size:14px; color:#888; padding:6px 15px; background:#fff; border-radius:12px; cursor:pointer; float:left; margin:10px 10px 0 0;}
.cont .mail .m-cont01 ul li.on{background:#888; color:#fff;}