<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<title>登录</title>
	<link rel="stylesheet" href="__PUBLIC__/bluesnail/style/header.css">
	<script src='__PUBLIC__/bluesnail/js/jquery-1.8.3.min.js'></script>
</head>
<body>
	<div class='users'>
		<h3>蓝色蜗牛登录</h3>
		<form action="{:U('Home/User/login')}" id='login' method='post'>
			<p><input type="email" name='email' required="required" placeholder='邮箱'/></p><br />
			<p><input type="password" name='password' required="required" placeholder='密码'/></p><br />
			<p class='ty'><input type="checkbox" id='chen' /><label for="chen">记住密码</label> <a style='display:none;' href="###">忘记密码？</a></p>
			<input type="submit" value='登录' class='btns' />
			<p><a href="{:U('Home/User/register')}">注册账号</a></p>
		</form>
	</div>
</body>
</html>